.skills__additions {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-top: 70px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 30px;
    color: #fff;

    div:last-child {
        margin-top: 60px;
    }

    h3 {
        margin-bottom: 20px;
    }

    ul {
        li {
            margin: 20px 0 20px 30px;
            font-family: "Montserrat SemiBold", sans-serif;
            font-size: 20px;
            list-style-type: disc;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &::before {
        content: "<ul>\A<li>";
        white-space: pre;
        display: block;
        position: absolute;
        top: -25px;
        left: -20px;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }

    &::after {
        content: "<li>\A<ul>";
        white-space: pre;
        display: block;
        position: absolute;
        left: -20px;
        bottom: -25px;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }
}

.skills__contact-me {
    position: relative;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 20px;
    color: #fff;

    a {
        position: relative;
        color: $red;
        text-decoration: none;

        &::after {
            position: absolute;
            left: 0;
            bottom: -5px;
            right: 0;
            display: block;
            content: "";
            margin: 0 auto;
            width: 100%;
            height: 2px;
            background: $red;
        }
    }

    &::before {
        content: "<span>";
        display: block;
        position: absolute;
        top: -25px;
        left: -20px;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }

    &::after {
        content: "</span>";
        display: block;
        position: absolute;
        left: -20px;
        bottom: -25px;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }
}
