.active {
    color: $red !important;
}

.header-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    padding: 25px;
    background: #181818;
}

.header-wrapper_fixed {
    position: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    width: 100%;
    max-width: 1250px;
}

.logo {
    font-family: "Montserrat";
    font-weight: 700;
    font-weight: bold;
    font-size: 50px;
    color: $gray;
    text-decoration: none;
}

.nav {
    ul {
        display: flex;

        li {
            margin: 0 20px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: "Montserrat Regular", sans-serif;
                font-weight: 400;
                font-size: 30px;
                color: $gray;
                text-decoration: none;
                text-transform: uppercase;
                transition: color 0.4s ease-in-out;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}
