@media screen and (max-width: 1000px) {
    .nav {
        display: none;
    }

    .nav_active {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        background: #181818;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;

            li {
                margin: 10px 0;

                &:nth-child(1) {
                    margin-top: 0;
                }

                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .burger-btn {
        position: relative;
        margin: 10px 0;
        width: 50px;
        height: 5px;
        background: #fff;

        &:before {
            position: absolute;
            top: -15px;
            content: "";
            display: block;
            background: #fff;
            width: 50px;
            height: 5px;
            transition: transform 0.5s ease-in-out;
        }

        &:after {
            position: absolute;
            bottom: -15px;
            content: "";
            display: block;
            background: #fff;
            width: 50px;
            height: 5px;
            transition: transform 0.5s ease-in-out;
        }
    }

    .burger-btn_active {
        background: transparent;

        &:before {
            transform: rotate(-405deg) translateY(18px) translateX(-15px);
            transition: transform 0.5s ease-in-out;
        }

        &:after {
            transform: rotate(405deg) translateY(-4px) translateX(-5px);
            transition: transform 0.5s ease-in-out;
        }
    }
}
