.about__additions {
    position: relative;
    margin-top: 70px;

    span {
        margin: 15px auto;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 20px;
        color: #fff;
        display: block;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &::before {
        @include markup-bot;
        content: "<span>";
        top: -25px;
    }

    &::after {
        @include markup-bot;
        content: "</span>";
        bottom: -25px;
    }
}
