.about__additions {
    position: relative;
    margin-top: 70px;

    span {
        margin: 15px auto;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 20px;
        color: #fff;
        display: block;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &::before {
        content: "<span>";
        display: block;
        position: absolute;
        top: -25px;
        left: -20px;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }

    &::after {
        content: "</span>";
        display: block;
        position: absolute;
        left: -20px;
        bottom: -25px;
        font-size: 15px;
        color: $gray;
        letter-spacing: 1px;
        text-shadow: none;
    }
}
