// .projects {
//     $projects: &;
// }

.projects__content {
    position: relative;
    display: flex;
    margin-top: 70px;
    $self: &;

    &-item {
        position: relative;
        margin: 0 20px;
        text-align: center;

        #{$self}-background {
            img {
                width: 320px;
                height: 425px;
                transition: opacity 0.5s ease-in-out;
            }
        }

        &:hover {
            #{$self}-background {
                img {
                    opacity: 0;
                }
            }

            #{$self}-name,
            #{$self}-tech {
                top: 30%;
                opacity: 1;
            }

            #{$self}-link {
                bottom: 38%;
                opacity: 1;
            }
        }
    }

    &-background {
        background: #181818;
        width: 320px;
        height: 425px;
    }

    &-info {
        display: flex;
        flex-direction: column;

        font-family: "Montserrat SemiBold", sans-serif;
        color: #fff;

        span:nth-child(2) {
            margin: 40px 0;
        }

        a {
            text-decoration: none;

            font-family: "Montserrat SemiBold", sans-serif;
            color: #fff;
        }
    }

    &-name {
        color: $red;
    }

    &-name,
    &-tech {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    &-link {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        width: 50%;
        margin: 0 auto;
        border: 1px solid $red;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &:hover {
            background: $red;
        }
    }

    .section__btn-wrapper {
        position: absolute;
        bottom: -50px;
        left: 54%;
        transform: translate(-50%, 200%);
    }

    &::before {
        @include markup-top;
        content: "<div>";
        top: -25px;
    }

    &::after {
        @include markup-bot;
        content: "</div>";
        bottom: -25px;
    }
}
