.intro {
    position: relative;
    height: 100vh;

    &__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 370px;
        height: 100%;
        max-height: 500px;
    }

    &__title {
        position: relative;
        width: 100%;
        max-width: 500px;
        line-height: 1.6;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 70px;
        letter-spacing: 2px;
        color: #fff;

        span {
            font-family: "Montserrat Bold", sans-serif;
            color: $red;
        }

        &::before {
            @include markup-top;
        }

        &::after {
            @include markup-bot;
        }
    }

    &__btn {
        position: relative;
        margin-top: 70px;

        a {
            padding: 15px 30px;
            border: 2px solid $red;
            background: transparent;
            font-family: "Montserrat Bold", sans-serif;
            font-size: 25px;
            color: $red;
            text-decoration: none;
            transition: all 0.5s ease-in-out;

            &:hover {
                background: $red;
                color: #181818;
                box-shadow: 0px 0px 14px 14px rgba(237, 85, 101, 0.86);
            }
        }
    }

    &__avatar {
        display: flex;
        justify-content: start;
    }
}
